* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 8rem;
    padding: 100px;
    transform: rotate(-3deg);
    text-shadow: 5px 5px #888;
    font-family: 'Azeret Mono', monospace;
}
body{
background-color: black;
}

.letter-lighting{
    float: right;
    margin-top: 50px;
    font-size: 20rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  li {
    display: inline-flex;
    float: right;
    padding: 10px;
}
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4d53ff, 0 0 40px #4d53ff, 0 0 50px #4d53ff, 0 0 60px #4d53ff, 0 0 70px #ff4da6, 0 0 80px #4d53ff;
    }
  }
  .author{
      font-weight: bold;
      font-size: 2rem;
      padding-top: 20px;
      margin-left: 30px;
  }
  h2{
      padding: 20px;
  }
  .center-text{
      text-align: center;
      line-height: 1.5;
      font-family: 'Merriweather', serif;

  }
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 40px 0;
}
.box-container{
    border: 1px solid white;
    width: 30%;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}
#box-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;

}
